$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1440px;
$breakpoint-padding: 16px;

$primary-color-yellow: #ffb200;
$primary-color-orange: #eb5b00;
$primary-color-pink: #d91656;
$primary-color-purple: #640d5f;
$primary-color-black: #333333;
$primary-color-white: #ffffff;
